* {
    box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 10%;
  background-color: #C8C9C7;
  width: 100%;
}

nav {
  top: 15px;
  position: fixed;
  width: auto;
}

.pocetna {
  position: relative;
  display: inline-block;
  width: ;
  height: auto;
  margin: 1em;
  background-color: #FFEC0D;
}

.povijest {
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
  margin: 1em;
  background-color: #FFEC0D;
}

.igraci {
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
  margin: 1em;
  background-color: #FFEC0D;
}

section {
  top: -25px;
  position: relative;
  text-align: center;
  font-size: 30px;
}